{% extends "base.html" %}
{% load i18n markup sitevars comments forms %}

{% block title %}new blog post{% endblock %}
{% block breadcrumbs %}<a href="/groups/{{ group.slug }}">{{ group.name }}</a> > 
 {% if object %}<a href="{% url post object.id %}">{{ object.title }}</a>{% else %}{% trans 'add a new post' %} {% endif %} {% endblock %}

{% block content %}

{% if object %}
    <h1>{% trans 'Edit this post' %}</h1>
{% else %}
    <h1>{% trans 'Add a new post' %}</h1>
{% endif %}
{{ group }}
    <form action="." method="POST">{% csrf_token %}
        <fieldset>
            <legend><span>{% trans 'Post content:' %}</span></legend>
            <ol>
                 {% show_errors form.non_field_errors %}
                 {% for field in form %}
                      {% show_field field "li" %}
                 {% endfor %}
            </ol>
        </fieldset>
         <fieldset class="submit">
            <input type="submit" name="result" value="{% trans 'Submit' %}">
        </fieldset>
    </form>


{% endblock %}

